# VolHunter Filebeat Config

#=========================== Filebeat inputs =============================

filebeat.inputs:

# Location of logs is set by the INPUT_PATH environment variable
- type: log
  paths:
    - ${INPUT_PATH}/*.csv
  
#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#================================ Outputs =====================================

output.logstash:
  hosts: ["localhost:5044"]
